
/* ::  Display
------------------------------------------- */
.display-initial{
	display:initial;
}


/* ::  Float
------------------------------------------- */
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.float-center{
	margin: 0 auto;
}
.float-initial{
	float: initial;
}

/* ::  Width
------------------------------------------- */
.width-1{
	width:1%;
}
.width-2{
	width:2%;
}
.width-4{
	width:4%;
}
.width-3{
	width:3%;
}
.width-5{
	width:5%;
}
.width-98{
	width:97%;
}
.width-95{
	width:95%;
}
.width-90{
	width:90%;
}
.width-10{
	width:10%;
}
.width-100{
	width:100%;
}
.width-50{
	width:50%;
}

.width-70{
	width:70%;
}
.width-60{
	width:60%;
}
.width-40{
	width:40%;
}
.width-30{
	width:30%;
}

.width-20{
	width:20%;
}
.width-80{
	width:80%;
}

/* ::  position
------------------------------------------- */
.position-absolute{
	position: absolute;
}

.position-fixed{
	position: fixed;
}
.position-relative{
	position: relative;
}


/* ::  margin
------------------------------------------- */
.margin-auto{
	margin: auto;
}
	.m-t-10{ margin-top: 10px; }
	.m-t-20{ margin-top: 20px; }
	.m-t-30{ margin-top: 30px; }
	.m-t-40{ margin-top: 40px; }
	.m-t-50{ margin-top: 50px; }




/* ::  Clear
------------------------------------------- */
.clear{
	clear: both;
}

/* ::  Padding
------------------------------------------- */
.content-padding-2-lr{
	padding-right: 2px;
	padding-left: 2px;
}

.content-padding-2{
	padding: 2px;
}
.content-padding-5{
	padding: 5px;
}
.content-padding-7{
	padding: 7px;
}
.content-padding-10{
	padding: 10px;	
}
/* ::  Margin
------------------------------------------- */
.content-margin-t-10{
	margin-top: 10px;
}
/* ::  Line
------------------------------------------- */
.hidden{
	visibility: hidden;
}

.z-index--1{
	z-index: -1;
}