
/* ::  Font Type
------------------------------------------- */
    .font-roman{
        font-family: "Times New Roman", Times, serif;
        font-size: 12pt;
        letter-spacing:0.3pt;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .font-bookman{
        font-family: "Bookman Old Style"; 
        font-size: 12pt;
    }

/* ::  Font style
------------------------------------------- */
    .italic{
        font-style: italic;
    }

/* ::  Font Size
------------------------------------------- */
    .font-size-6{
        font-size: 6pt;
    }
    .font-size-7{
        font-size: 7pt;
    }
    .font-size-8{
        font-size: 8pt;
    }
    .font-size-9{
        font-size: 9pt;
    }
    .font-size-10{
        font-size: 10pt;
    }
    .font-size-11{
        font-size: 11pt;
    }
    .font-size-12{
        font-size: 12pt;
    }
    .font-size-13{
        font-size: 13pt;
    }
    .font-size-14{
        font-size: 14pt;
    }
    .font-size-16{
        font-size: 16pt;
    }
    .font-size-18{
        font-size: 18pt;
    }
    .font-size-20{
        font-size: 20pt;
    }
    .font-size-22{
        font-size: 22pt;
    }
    .font-size-24{
        font-size: 24pt;
    }
    .font-size-26{
        font-size: 26pt;
    }


/* ::  Font Transform
------------------------------------------- */
    .uppercase{
        text-transform: uppercase;
    }
    .lowercase{
        text-transform: lowercase;
    }

/* ::  Font Weight
------------------------------------------- */
    .bold{
        font-weight: bold;
    }
    .normal{
        font-weight: normal;
    }

/* ::  Text Align
------------------------------------------- */
    .text-center {
        text-align: center;
    }
    .text-left {
        text-align: left;
    }
    .text-right {
        text-align: right;
    }
    .text-justify {
        text-align: justify;
    }
    .text-middle{
        vertical-align:middle;
    }
    .text-top{
        vertical-align:top;
    }
    .text-bottom{
        vertical-align:bottom;
    }

/* ::  letter-spacing
------------------------------------------- */
    .letter-spacing-2{
        letter-spacing:2px;
    }


/* ::  Text Decoration
------------------------------------------- */
    .underline{
        text-decoration: underline;
    }
    .strike{
        text-decoration: line-through;
    }

/* ::  Text indent
------------------------------------------- */
    .menjorok{
        text-indent: 10mm;
    }

    
/* ::  Line
------------------------------------------- */
    .line-12{
        line-height: 1.2;
    }

    .line-07{
        line-height: 0.7;
    }

    .line-09{
        line-height: 0.9;
    }
    .line-1{
        line-height: 1;
    }

    .line-14{
        line-height: 1.4;
    }

    .line-onehalf{
        line-height: 1.5;
    }

    .line-19{
        line-height: 1.9;
    }

    .line-double{
        /* D1 201*/
        line-height: 2;
    }
    .line-23{
        line-height: 2.3;
    }