
@media print
{
    tr {
        page-break-inside: auto !important;
    }
}

/* ::  table
------------------------------------------- */
    table,thead,tr,td{
        vertical-align: text-top;
        padding: 0 10px;
    }

    td{
        padding-left: 3px;
        padding-right: 3px;
    }
    table {
        border-collapse: collapse;
    }

/* ::  border
------------------------------------------- */
    .border-white{
        border-color: white;
    }

    .border-201{
        border:1pt solid #000000;
    }

    .border-full{
        border:1pt solid #000000;
        border-right: 1pt solid #000000;
    }

    .border-style-solid{
        border-style: solid;
    }
    .border-style-double{
        border-style: double;
    }

    .border-width-1{
        border-width:1pt;
    }
    .border-perhatian{
        border:0.5pt solid #000000;
        padding: 6px;
    }

    .border-black{
        border-color:1pt #000000;
    }
    .border-kop{
        border-top: 1pt double #000000;
    }

    .border-right{
        border-right: 1pt solid #000000;
    }
    .border-left{
        border-left: 1pt solid #000000;
    }
    .border-top{
        border-top: 1pt solid #000000;
    }
    .border-bottom{
        border-bottom: 1pt solid #000000;
    }

    .border-right-2{
        border-right: 2pt solid #000000;
    }
    .border-left-2{
        border-left: 2pt solid #000000;
    }
    .border-top-2{
        border-top: 2pt solid #000000;
    }
    .border-bottom-2{
        border-bottom: 2pt solid #000000;
    }

    .border-right-3{
        border-right: 3pt solid #000000;
    }
    .border-left-3{
        border-left: 3pt solid #000000;
    }
    .border-top-3{
        border-top: 3pt solid #000000;
    }
    .border-bottom-3{
        border-bottom: 3pt solid #000000;
    }

    .border-right-dashed{
        border-right: 1pt dashed #808080;
    }
    .border-left-dashed{
        border-left: 1pt dashed #808080;
    }
    .border-top-dashed{
        border-top: 1pt dashed #808080;
    }
    .border-bottom-dashed{
        border-bottom: 1pt dashed #808080;
    }

    .border-right-2{
        border-right: 2pt solid #000000;
    }
    .border-left-2{
        border-left: 2pt solid #000000;
    }
    .border-top-2{
        border-top: 2pt solid #000000;
    }
    .border-bottom-2{
        border-bottom: 2pt solid #000000;
    }

    .border-right-double{
        border-right: black double;
    }

    .border-left-double{
        border-left: black double;
    }

    .border-top-double{
        border-top: black double;
    }

    .border-bottom-double{
        border-bottom: black double;
    }


    .border-hidden-right{
        border-right-style: hidden;
    }

    .border-hidden-left{
        border-left-style: hidden;
    }

    .border-hidden-top{
        border-top-style: hidden;
    }

    .border-hidden-bottom{
        border-bottom-style: hidden;
    }

    .border-kwitansi{
        border:1px dotted #000000;
        margin-bottom: 5mm;
        padding: 5mm;
    }

    .border-top-dotted{	
        border-top: 1pt dotted #000000;
    }