.section-img-desc{
    padding:0 30px;
}

.img-desc{
    padding:22px 75px 53px 35px;
    margin-bottom: 90px;
}

.small-desc{
    padding:0px 30px;
}

.footer-boncafe{
    padding:0 60px;
}

.button-page{
    padding-top:17px;
}

.sub-menu-boncafe{
    padding:40px;
    margin:20px 0px;
}

.sub-menu-div{
    padding:20px 0px;
}

.desc-two-coloumn{
    position: relative;
    margin-top:-200px;
    padding:0px 75px;
}